.row
  %h6.secondary Our Businesses
  - businesses.each_with_index do |b, i|
    - klass = i == businesses.length - 1 ? 'end' : ''
    .large-3.columns.end{class: klass}
      = image_tag b[:logo], :title => b[:info]
