.row.businesses.clearfix
  %h6.secondary Our Businesses
  - businesses.each_with_index do |b, i|
    - klass = i == businesses.length - 1 ? 'end' : ''
    .float-left{class: klass}
      = image_tag "businesses/#{b[:logo]}", :title => b[:info]
