.row
  = image_tag 'home_banner_1_placeholder.png'

.row
  %h1 Catering
  %p
    Our program connects individual catering businesses with you, the client. We’ve done everything from intimate dinner parties (think Lady and the Tramp) to weddings and corporate receptions. Whatever it is that you need, we can do it.

  %p
    Fun Fact: All the food is incredibly delicious.

  %p
    So, without further ado, you will find more information about our caterers and the food they are able to provide listed below. Still have questions? Click on our FAQs page to learn more. If you are ready to book, fill out our quick and easy form and a La Cocina representative will be in touch.

  %p
    Thanks for your interest and we look forward to catering your upcoming meal!

.row
  = link_to 'Fill the form', 'https://docs.google.com/a/lacocinasf.org/spreadsheet/viewform?formkey=cjBLLVFCWHg4TVJrVkcxS0NHem1XeFE6MA..', class: 'button'
  = link_to 'Contact Us For More Information', '#', class: 'button'
