:scss
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
  }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.row{'data-equalizer': "donation-iframe"}
  .large-8.columns{'data-equalizer-watch': "donation-iframe"}
    %h1 Be part of defining what La Cocina can mean
    .row
      %p The mission of La Cocina is to cultivate low-income food entrepreneurs as they formalize and grow their businesses by providing affordable commercial kitchen space, industry-specific technical assistance and access to market opportunities. We focus primarily on women from communities of color and immigrant communities. Our vision is that entrepreneurs will become economically self-sufficient and contribute to a vibrant economy doing what they love to do.

    .row.text-center
      %h2 Participants
      .large-4.columns
        %h4 The Need
        %p The idea for La Cocina emerged the recognition of strong desire among immigrant women in the Mission to start their own food businesses and the realization of the obstacles preventing them from doing so.
      .large-4.columns
        %h4 What They Have
        %p Entrepreneurial Spirit, Business Plans and Phenomenal Food.
      .large-4.columns
        %h4 What They Lack
        %p Access to markets, Commercial Kitchen space, Technical Assistance and Access to Capital.
    .row.text-center
      %h2 Local Community
      %hr
      %h4
        %small
          We also aim to provide resources to local entrepreneurs who are not part of our program, as well as delicious products to food enthusiasts throughout the Bay Area.
      %hr

      %p The milestones that La Cocina and its client businesses reached this year continue to affirm our belief that, given the right resources, any business can succeed. That is why we are presenting you with an opportunity to support La Cocina and help these business achieve that success.

      %p Every dollar counts. For every $1 you donate, the businesses generate $3 of revenue for the local economy plus an average of 2 jobs per business. Imagine what your donation of $50, $75, or $100 will mean to aspiring entrepreneurs, their families, and our community.

  .large-4.columns{'data-equalizer-watch': "donation-iframe"}
    .embed-container
      %iframe{src: "https://connect.clickandpledge.com/w/Organization/lacocinasf/paymentwidget/06e3dbaf-d3f9-4dde-96ce-1feec8319d2a", frameborder: "0", allowfullscreen: true}
