.row
  .large-4.columns
    .flex-video
      %iframe{src: "https://player.vimeo.com/video/127773735?wmode=opaque&api=1", frameborder: "0", allowfullscreen: true}
  .large-8.columns.text-center
    %h1 Our Mission
    %p
      The mission of La Cocina is to cultivate low income food entrepreneurs as they formalize and grow their
      businesses by providing affordable commercial kitchen space, industry-specific technical assistance and access
      to market opportunities. We focus primarily on women from communities of color and immigrant communities.
      Our vision is that entrepreneurs gain financial security by doing what they love to do, creating an innovative,
      vibrant and inclusive economic landscape.

.row.text-center
  .large-4.columns
    %h1.secondary 94%
    %h3.secondary of La Cocina business owners are women
    %p Only 29% of businesses are owned by women.
  .large-4.columns
    %h1.primary 77% of women earn $0.77
    %h3.primary for every $1 men make
    %p Doing the same job with the same responsibilities and knowledge.
  .large-4.columns
    %h1.primary $13 per hour
    %h3.primary La Cocina average commercial rental rate
    %p $35 per hour, 2014-2015 average commercial kitchen rental rate.

.row.text-center
  %h2 Breaking barriers
  %p By providing community resources and an array of industry-specific services, business incubators ensure small businesses can succeed. La Cocina follows this model by providing commercial kitchen space and technical assistance focusing on low-income women and immigrant entrepreneurs who are launching, growing and formalizing food businesses.

  %p The food industry has a notoriously high cost of entry: the fees for licensed and insured commercial kitchen space, the start-up costs to open a restaurant, the standards set to compete for shelf space at specialty stores and large retailers. Burgeoning food entrepreneurs face an uphill battle for success in an overwhelming and incredibly crowded marketplace. La Cocina provides a platform for these motivated people to hone their skills and successfully transition into the highly regulated and competitive food industry.
  = link_to 'Donate', '/donate', class: 'button'

.row.text-center
  %h2 Story of La Cocina
  %hr
  %h4
    %small
      La Cocina was born out of a belief that a community of natural entrepreneurs, given the right resources, can create self-sufficient businesses that benefit themselves, their families, their community, and the whole city. The food that has come out of this kitchen since 2005 reflects that aspiration and, quite simply, tastes amazing.
  %hr
  %p La Cocina (pronounced la co-see-nah, meaning “The Kitchen” in Spanish) was inspired by its current home, San Francisco’s Mission District. This ethnically diverse and economically vulnerable neighborhood that thrives in part due to the many small informal businesses that serve the community. Food lies at the heart of this community, and you don’t have to look far to find hidden entrepreneurs in the kitchens of many homes.

  %p Recognizing a need to formalize these food businesses and the opportunity created when you turn inconsistent and illegal home restaurants into sustainable legal businesses, organizations like Arriba Juntos, The Women’s Initiative for Self-Employment and The Women’s Foundation of California and one very special and visionary anonymous donor created La Cocina. La Cocina is both the space-a modern building and commercial kitchen that has been featured in Metropolis Magazine—and the program—an innovative business incubator that supports a growing roster of small businesses.

.row.text-center
  %h2 The La Cocina Family
  %p
    La Cocina is a home for 30 up-and-coming businesses and a growing roster of graduates, representing all aspects of local food. As a result of these businesses and La Cocina’s support, community jobs have been created and thousands have been introduced to the flavors of the world. As a testament to their quality, the businesses of La Cocina sell their products locally, regionally, nationally, and even internationally.
  = link_to 'View our businesses', '/coming_soon', class: 'button'

- if work_in_progress?
  .row.text-center
    %h2 Our Supporters
    - 16.times.each do
      .large-1.columns
        = image_tag 'business_placeholder_logo.png'
