.row
  .large-2.columns
    = image_tag 'thumbnail_placeholder.png', class: 'thumbnail'
  .large-10.columns
    %p
      Caleb was accidentally hired as an assistant pastry chef at Ruppert’s Restaurant, in his hometown of Washington DC, when he was
      16 years old, and hasn’t left the kitchen since. He has worked dish lines at national chains, service counters for independent butcher
      shops and front of the house for some of the best restaurants in the country (and some of the worst too). After graduating from
      the University of Michigan with degrees in English and Globalization and Culture, Caleb interned with ProMujer in El Alto Bolivia,
      learning about microfinance in its infancy and bringing those programming lessons to bear at La Cocina when it opened its doors
      in 2005.
    %p
      Since joining La Cocina, Caleb has had a hand in shaping the incubator program as it has achieved national recognition. Caleb’s
      work on the program curriculum and social entrepreneurship innovation has been celebrated by the Hitachi Foundation when
      they named him a Yoshiyama Young Entrepreneur and by Inc. Magazine’s recognition as one of 5 Community Organizers making a
      difference. More recently, Caleb was behind La Cocina’s San Francisco Street Food Festival and Conference which ultimately led to
      involvement in the legislation changes that brought increased mobile vending opportunities to San Francisco. He has been named
      one of San Francisco’s Tastemakers by 7×7 Magazine, though he might be as proud that before that he was named Best Waiter in
      San Francisco. Bilingual, a trained diversity leader, HACCP Certified and a California Food Safety Manager, Caleb’s combination
      of food industry experience and commitment to social justice is what helps defines La Cocina, recently named 2011 Best Small
      Businesses by the San Francisco Bay Gardian.
    %p
      Caleb brings a love of food and a passion for social justice to La Cocina and a belief that everyone deserves an opportunity to
      make a living doing what they love to do.
    %p
      favorite foods: chicken soup, steamed pork buns, molletes and nearly anything with miso.

.row
  .large-2.columns
    = image_tag 'thumbnail_placeholder.png', class: 'thumbnail'
  .large-10.columns
    %p
      Caleb was accidentally hired as an assistant pastry chef at Ruppert’s Restaurant, in his hometown of Washington DC, when he was
      16 years old, and hasn’t left the kitchen since. He has worked dish lines at national chains, service counters for independent butcher
      shops and front of the house for some of the best restaurants in the country (and some of the worst too). After graduating from
      the University of Michigan with degrees in English and Globalization and Culture, Caleb interned with ProMujer in El Alto Bolivia,
      learning about microfinance in its infancy and bringing those programming lessons to bear at La Cocina when it opened its doors
      in 2005.
    %p
      Since joining La Cocina, Caleb has had a hand in shaping the incubator program as it has achieved national recognition. Caleb’s
      work on the program curriculum and social entrepreneurship innovation has been celebrated by the Hitachi Foundation when
      they named him a Yoshiyama Young Entrepreneur and by Inc. Magazine’s recognition as one of 5 Community Organizers making a
      difference. More recently, Caleb was behind La Cocina’s San Francisco Street Food Festival and Conference which ultimately led to
      involvement in the legislation changes that brought increased mobile vending opportunities to San Francisco. He has been named
      one of San Francisco’s Tastemakers by 7×7 Magazine, though he might be as proud that before that he was named Best Waiter in
      San Francisco. Bilingual, a trained diversity leader, HACCP Certified and a California Food Safety Manager, Caleb’s combination
      of food industry experience and commitment to social justice is what helps defines La Cocina, recently named 2011 Best Small
      Businesses by the San Francisco Bay Gardian.
    %p
      Caleb brings a love of food and a passion for social justice to La Cocina and a belief that everyone deserves an opportunity to
      make a living doing what they love to do.
    %p
      favorite foods: chicken soup, steamed pork buns, molletes and nearly anything with miso.

.row
  %hr
  %h2 Our Board
  - 10.times.each do
    .large-2.columns
      = image_tag 'business_placeholder_logo.png'
      %h4 Laura Ambroseno
      %p Business Consultant
