@import 'settings';

.catering-page {

	.hero {
		.image-callout {
			width : 41vw;
			.text { font-size: 3vw; }
		}
	}

	.section-header {
		font-size   : 28px;
    font-weight : bold;
    color       : $charcoal-gray;
    margin-top  : 50px;
	}

	.page-info {
		p {
			color         : $charcoal-gray;
			font-size     : 20px;
			line-height   : 1.5;
			margin-bottom : 75px;
	 	}
	}

	.catering-info {
		h2 {
			color          : $merlot;
			font-size      : 36px;
		  font-weight    : 300;
		  text-transform : none;
		}

		p {
			color         : $charcoal-gray;
			font-size     : 20px;
			line-height   : 1.5;
			margin-bottom : 75px;
		}

		.action-bar {
			display    : inline-block;
			margin-top : 20px;

			.button {
				width  : 250px;
				margin : 15px 10px;
			}
		}
	}

	.questions {
		margin-bottom : 300px;

		li { list-style-type: none; }

		.question {
			color       : $merlot;
			font-size   : 20px;
		  font-weight : 500;
		  margin      : 30px 0 10px;

		  &:before {
		  	content : "Q: ";
		  }
		}

		.answer {
			font-size: 15px;
		  font-weight: 500;
		}
	}
}
