@import 'settings';

.donate-page {
  h1 {
    font-family : Raleway;
    font-size   : 28px;
    font-weight : bold;
    color       : $charcoal-gray;
    display     : inline-block;
  }

  .hero {
    .image-callout              { bottom: 70px;     }
    .text.responsive-typography { font-size: 2.5vw; }
  }

  &.monthly {
    @include breakpoint(small only) {
      .image-callout {
        bottom : 10px;
      }
    }
  }

  .membership-cta {
    background : $green;
    text-align : center;
    padding    : 20px;

    h2 {
      color         : white;
      margin-bottom : -8px;
      font-size     : 28px;
      font-weight   : bold;
    }

    .button {
      color         : white;
      border-color  : white;
      margin-bottom : 0;
    }
  }

  .membership-choices {
    position       : relative;
    color          : white;
    background     : black;
    padding-bottom : 66px;
    padding-top    : 15px;

    h2 {
      color       : white;
      font-size   : 28px;
      font-weight : bold;
    }

    .option {
      border        : 1px solid $green;
      padding       : 20px 15px;
      height        : 338px;
      width         : 360px;
      margin-bottom : 20px;

      .title {
        color         : $green;
        border-bottom : 1px solid $green;
        font-weight   : bold;
        font-size     : 26px;
        margin-bottom : 6px;
      }

      p {
        font-size   : 15px;
        font-weight : 600;
        line-height : 1.8;
      }
    }

    &:after {
      content          : "";
      position         : absolute;
      top              : 0;
      left             : 0;
      height           : 100%;
      width            : 100%;
      background-image : asset-url('donate_monthly/veg.jpg');
      background-size  : cover;
      opacity          : .2;
    }
  }

  .mission {
    p {
      display     : inline-block;
      color       : $charcoal-gray;
      font-size   : 20px;
      font-weight : 500;
      line-height : 1.5;
    }
  }

  .testimonial {
    position      : relative;
    margin-top    : 35px;
    margin-bottom : 50px;

    .text {
      position     : absolute;
      top          : 0;
      right        : 0;
      bottom       : 0;
      margin-right : 85px;
      margin-top   : 50px;
      font-family  : Raleway;
      font-weight  : 300;
      text-align   : center;
      color        : #ffffff;
      line-height  : 1.2;
      width: 40vw;
      margin: 4vw 4vw;
    }
  }

  &.monthly .testimonial {
      .text {
        left : 0;
        margin-left: 85px;
      }
    }

  .support {
    h2 {
      color         : $charcoal-gray;
      font-size     : 28px;
      font-weight   : bold;
      margin-bottom : 30px;
    }

    .sub-header {
      font-family   : Raleway;
      font-size     : 28px;
      font-weight   : normal;
      line-height   : 1.29;
      text-align    : center;
      color         : #333333;
      margin-bottom : 20px;
    }

    .resources {
      p {
        font-size   : 15px;
        line-height : 24px;
        font-family : Raleway;
      }

      .title {
        text-transform : uppercase;
        font-weight    : 600;
      }

      .description {
        display : inline-block;
      }
    }
  }
}
