@import 'settings';

.donate-page {
  h1 {
    font-family : Raleway;
    font-size   : 28px;
    font-weight : bold;
    color       : $charcoal-gray;
    display     : inline-block;
  }

  .hero {
    .image-callout { width : 770px; }
  }

  .mission {
    h1 { width : 450px; }

    p {
      display     : inline-block;
      color       : $charcoal-gray;
      width       : 600px;
      font-size   : 20px;
      font-weight : 500;
      line-height : 1.5;
    }
  }

  .testimonial {
    position      : relative;
    margin-top    : 35px;
    margin-bottom : 50px;

    .text {
      position     : absolute;
      top          : 0;
      right        : 0;
      bottom       : 0;
      margin-right : 85px;
      margin-top   : 50px;
      font-family  : Raleway;
      font-weight  : 300;
      text-align   : center;
      color        : #ffffff;
      line-height  : 1.2;

      .quote {
        font-size : 36px;
        width     : 465px
      }

      .author {
        position    : absolute;
        bottom      : 30px;
        right       : 0;
        line-height : 2.32;
        font-size   : 25px;
      }
    }
  }

  .support {
    width  : 1085px;
    margin : auto;

    h2 {
      color         : $charcoal-gray;
      font-size     : 28px;
      font-weight   : bold;
      margin-bottom : 30px;
    }

    .sub-header {
      font-family   : Raleway;
      font-size     : 28px;
      font-weight   : normal;
      line-height   : 1.29;
      text-align    : center;
      color         : #333333;
      margin-bottom : 20px;
    }

    .resources {
      p {
        font-size   : 15px;
        line-height : 24px;
        font-family : Raleway;
      }

      .title {
        text-transform: uppercase;
        font-weight: 600;
      }

      .description {
        display : inline-block;
        width   : 498px;
      }
    }
  }
}
