.footer {
  background-color : #33494c;
  color            : #ffffff;
  padding          : 15px 20px;
  height           : 265px;
  position         : relative;

  .header {
    font-size      : 18px;
    font-weight    : 900;
    text-transform : uppercase;
    margin-bottom  : 5px;
  }

  .newsletter-sign-up {
    label {
      color         : white;
      font-size     : 14px;
      margin-bottom : 10px;
    }

    .input-button-combo {
      width    : 450px;
      position : relative;

      input {
        height: 2.0375rem;
      }

      .button {
        position : absolute;
        top      : 0;
        right    : 0;
      }
    }
  }

  .social-media-icons {
    .social-media-icon {
      display      : inline-block;
      margin-right : 15px;
    }
  }

  .made-by {
    position    : absolute;
    left        : 20px;
    bottom      : 15px;
    font-size   : 12px;
    font-weight : 600;
    line-height : 0.75;
  }
}
