.heading header {
  margin-top: 20px;
}

.logo-size {
  height: 65px;
  width: 169px;
}

.top-bar {
  .top-bar-left, .top-bar-right {
    margin-top: 20px;
  }
}

header .heading {
  @include breakpoint(small only) {
    margin-top: 0;
  }
}
