@import 'settings';
.homepage {
  h2 {
    font-weight : 700;
    color       : $charcoal-gray;
    text-align  : center;
  }

  .pie-chart {
    display    : inline-block;
    text-align : center;

    .graphic {
      position : relative;
      display  : inline-block;

      svg {
        background    : rgba(100, 13, 61, 0.5);
        border-radius : 50%;
        transform     : rotate(-90deg);

        .circle { fill: rgba(255, 255, 255, .2); }
      }

      .pie-chart-label {
        position  : absolute;
        top       : 20px;
        left      : 50%;
        transform : translateX(-50%);
        color     : white;
        font-size : 32px;

        &:after {
          content        : "%";
          font-size      : 18px;
          vertical-align : super;
        }
      }
    }

    .pie-chart-caption {
      color     : #333;
      font-size : 24px
    }
  }

  .hero {
    @include breakpoint(small down) {
      height: 75vw;
    }
    @include breakpoint(medium only) {
      height: 60vw;
    }
    @include breakpoint(large up) {
      height: 36vw;
    }


    .image-callout {
      width : 50vw;
      bottom: -47px;

      @include breakpoint(small only) {
        bottom : -12px;
        .text {
          transform: translateY(-40%);
          .cta {
            margin-top: -0.7vw;
            .button {
              padding : 2.1vw 1em;
            }
          }
        }
      }
    }

    .text {
      .responsive-typography.h1 {
        font-size: 4vw;
      }
      .responsive-typography.h3 {
        font-size: 2vw;
      }

      .sub-header {
        white-space : nowrap;
      }

      .cta {
        margin-top : 1.2vw;
      }
    }
  }

  .testimonial {
    position      : relative;
    margin-top    : 35px;
    margin-bottom : 50px;

    .text {
      position     : absolute;
      top          : 0;
      right        : 0;
      bottom       : 0;
      font-family  : Raleway;
      font-weight  : 300;
      text-align   : center;
      color        : #333;
      line-height  : 5vw;
      width        : 55vw;
      margin       : 4vw 4vw;
    }
  }

  .who-we-work-with {
    margin-bottom : 60px;

    .business-owners {
      display : table;

      .col {
        display : table-cell;
        vertical-align: top;
      }

      .number-of-business-owners {
        font-size     : 62px;
        font-weight   : 300;
        color         : #640d3e;
        padding-right : 10px;
        line-height   : .6;
      }

      .header {
        font-size   : 36px;
        font-weight : 800;
        color       : #640d3e;
      }

      .sub-header {
        font-size   : 24px;
        font-weight : 500;
        color       : #333333;
      }
    }

    .pie-charts {
      font-size       : 1em;
      padding-top     : 22px;
      flex-direction  : row;
      justify-content : space-between;
      display         : flex;

      br { display : none; }

      @include breakpoint(small only) {
        display : block;
        .pie-chart {
          display : block;
          width : 50%;
          &:nth-child(even) { float: right; }
          &:nth-child(odd)  { float: left; clear: both; }
          margin-bottom: 30px;
        }
      }
    }
  }

  .call-to-action-boxes {
    margin-top : 40px;

    img {
      width  : 100px;
      height : 100px;
      margin : 10px 0;
    }
  }

  .primary {
    color: map-get($foundation-palette, primary);
  }

  .secondary {
    color: map-get($foundation-palette, secondary);
  }

  .social-media-links h3 {
    display: inline
  }

  .image {
    position: relative;
    width: 100%;

    .caption {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      background-color: transparent;
      color: #fff;
    }
  }

  .caption {
    h1 {
      font-size: 4rem;
      color: #fff;
      letter-spacing: 1px;
      line-height: 0.9;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    }

    h1.subheader {
      font-size: 3rem;
      font-weight: normal;
      text-transform: none;
      text-shadow: none;
    }

    .button {
      margin-top: 1rem;
      min-width: 284px;
    }

    @include breakpoint(small only) {
      h1 {
        font-size: 1.5rem;
      }

      h1.subheader {
        font-size: 1rem;
      }

      .button {
        margin-top: 0.5rem;
        min-width: 142px;
      }
    }
  }

  .dark-background.button {
    color: #fff;
    border-color: #fff;
    &:hover {
      color: $copper;
      border-color: $copper;
    }
  }

  .story-banner {
    @include breakpoint(small down) {
      display: none;
    }
  }
}

.image {
  position: relative;
  width: 100%;

  .overlay {
    position: absolute;

    &.bottom-center {
      bottom: 0;
    }
  }
}
