@import 'settings';

.mission-page {
	h1 {
		color          : #333;
		line-height    : 2;
		letter-spacing : 0.6px;
		font-size      : 28px;
		font-weight    : bold;
	}

	p {
		padding : 0 20px;
	}

	.quote {
	    font-size   : 36px;
	    line-height : 49px;
	    font-weight : 300;
	    p {
	        color: $charcoal-gray;
	    }
	    a {
	        color: $dark-sky-blue;
	    }
	}

	.video { width : 410px; }

	.story {
		position         : relative;
    background-color : black;
    color            : white;
		padding          : 35px 0;
    margin           : 35px 0 60px;

    h1 { color : white; }

    .row > *:not(.sub-title) { padding : 0 45px; }

		.sub-title {
			border-top    : 1px solid $green;
			border-bottom : 1px solid $green;
			font-size     : 20px;
		  font-weight   : 600;
		  padding       : 20px 45px;
		  margin        : 0 0 20px;

		  p { margin-bottom: 0; }
		}

		&:after {
      content          : "";
      position         : absolute;
      top              : 0;
      left             : 0;
      height           : 100%;
      width            : 100%;
      background-image : asset-url('mission/story.jpg');
      background-size  : cover;
      opacity          : .2;
    }
	}

	.family {
		border-color   : $merlot;
		border-bottom  : 1px solid;
		border-top     : 1px solid;
		padding-top    : 20px;
		padding-bottom : 20px;
	}

	.supporters {
		margin-bottom: 180px;

		h2 { color: $copper; }
		ul {
			list-style: none;

			a {
				color: $dark-sky-blue;
				font-weight: bold;
				font-size: 15px;

				&:visited { color: $dark-sky-blue; }
    		&:hover   { color: $mid-blue; }
			}
		}
	}
}
