@import 'settings';

.button {
  text-transform: uppercase;
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.row {
  margin-top: 20px;
}

.menu a {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5px;
  font-size: 1em;
}
