@import 'settings';

.button {
  text-transform: uppercase;
  font-weight: 900;
  &.wide {
    width: 450px;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.row {
  margin-top: 20px;
}

.menu a {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1em;
  &.button {
    font-weight: 900;
  }
}

.menu {
  &.vertical {
    li:first-child {
      padding-top: 0.7rem;
    }
    .button {
      text-align: left;
      margin-top: 0.7rem;
    }
  }
}

.accordion-title {
  font-size: 1.5em;
}

.copper {
    color: $copper;
}

.col-5 {
  div {
    &.large-2 {
      @include breakpoint(large up) {
        margin-left: 33px;
      }
    }
  }
}

.icon-box {
  height: 120px;
  text-align: center;
}

.vertically-centered {
  display: flex;
  align-items: center;
}

.subtext {
  margin-top: -10px;
}

.right-border {
  border-right: 1px solid map-get($foundation-palette, primary);
}

.subheading {
  &.secondary {
    color: $charcoal-gray;
    line-height: 1.2;
    font-weight: 900;
    font-size: 1.125em;
  }
}

.off-canvas-content > .row:first-of-type {
  @include breakpoint(small) {
    // push elements down by the height of mobile menu (that has fixed position)
    margin-top: 59px;
  }
}
