.volunteer-page {
  padding-bottom : 220px;

  .image-callout {
    width : 582px;
  }

  h2 {
    font-size   : 28px;
    font-weight : bold;
    color       : #333;
  }

  p {
    margin-bottom : 20px;
    font-size     : 15px;
  }
}
