%footer
  .row.footer
    .sitemap
      %p Sitemap

    .copyright
      %p
        Design:
        %a{:href => "http://www.anitaby.design/"} Anita Byczkowska
      %p
        Development:
        %a{:href => "#"} Mat Byczkowski,
        %a{:href => "#"} Katie Thomas,
        %a{:href => "#"} Michael Gump, and
        %a{:href => "#"} Kelsey Onstenk
      %p Copyright 2016 La Cocina
