%footer.footer
  .header Stay Connected

  .newsletter-sign-up
    %label Sign in with your email address below to receive our newsletter.

    .input-button-combo
      %input{:type => "email"}
      .button Sign Up

    .social-media-icons
      - social_media_links.each do |site|
        .social-media-icon
          = link_to (embedded_svg "icons/" + site[:icon]), site[:link], { target: "_blank" }


  .made-by MADE BY VOLUNTEERS 2016
