#offCanvasMenu.off-canvas.position-left{'data-off-canvas': true}
  %button.close-button{'aria-label': 'Close menu', 'type': 'button', 'data-close': ""}
    %span{'aria-hidden': true}×
  %ul.vertical.menu
    - menu_items.each do |menu_item|
      - klass = menu_item[:submenu] ? 'has-submenu' : ''
      %li{class: klass}
        = link_to menu_item[:name], menu_item[:url]
        - if menu_item[:submenu]
          %ul.menu.submenu.vertical{'data-submenu': true}
          - menu_item[:submenu].each do |submenu_item|
            = link_to submenu_item[:name], submenu_item[:url]
    %li
      = link_to 'Donate', '/donate', class: 'button'
